<div class="card" style="background-image:<%= card.image %>">
	<div class="card_left_margin">
	</div>
	<div class="card_center_content">
	<div class="card_title">
		<%= card.get_card_name() %>
	</div>
	<div class="a_icon">
		<%= card.get_a_content() %>
	</div>
	<div class="b_icon">
		<%= card.get_b_content() %>
	</div>
	<div class="c_icon">
		<%= card.get_c_content() %>
	</div>
	<div class="card_image">
		<img src="<%= card.get_card_image()%>"></img>
	<div class="card_content">
		<%= card.get_card_content() %>
	</div>
	<div class="card_right_margin">

	</div>
</div>
