<div class="card_set_viewport">
	<img src="/images/sets/<%= card_set.image%>"></img><br />
	Name: <%= card_set.name %><img src="/images/icons/<%= card_set.icon %>"></img><br />
	<div style="width:40em;height:auto">
		<i><%= card_set.desc %></i>
	</div><br />
	Released on: <%= time_tag card_set.release %>
	
</div>